div#modal-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000031;
    backdrop-filter: blur(10px);
}

div#modal-content {
    background-color: #ffffff;
    width: 80%;
    margin: 5% auto;
    min-height: 80%;
    border: hidden;
    border-radius: 16px;
    filter: drop-shadow(0 0 10px #0e0e0e);
    position: relative;
    padding-top: 16px;
}

section#modal-content-container {
    width: 80%;
    margin-left: 10%;
    padding-bottom: 100px;
}

h1#modal-title {
    font-family: 'Source Sans Pro';
    font-size: 64px;
    text-align: center;
    margin-top: 0;
}

button#modal-close {
    width: 30%;
    padding: 16px;
    position: absolute;
    bottom: 16px;
    left: 35%;
    background-color: rgb(167, 0, 0);
    outline: none;
    border: hidden;
    border-radius: 8px;
    color: white;
    font-family: 'Source Sans Pro';
    font-size: 24px;
}

button#modal-close:hover {
    background-color: red;
}